assingment/target/classes/assingment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
      <flow name="ttttFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        
<parse-template location="src/main/resources/request.html"
doc:name="Parse Template" />
<set-property doc:name="Content Type" propertyName="Content-Type"
value="text/html" mimeType="text/html"/>
    </flow>
    <flow name="ttttFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/validate" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%function getValue (num) 
	( "M3" when (num mod 3) == 0 and (num mod 7) != 0 otherwise (
	 "M7"  when (num mod 7) == 0  and (num mod 3) != 0 otherwise 
	( "M7 and M3") when (num mod 3) == 0 and (num mod 7) == 0 otherwise  "nothing") ) when num != 0 and num != "" otherwise "nothing"


---
{
	(payload.FirstValue) : getValue(payload.FirstValue default ""),
	(payload.SecondValue) : getValue(payload.SecondValue default "")
}]]></dw:set-payload>
        </dw:transform-message>
        <parse-template location="src/main/resources/response.html" doc:name="Parse Template"/>
        <set-property propertyName="Content-Type" value="text/html" mimeType="application/json" doc:name="Content Type"/>
    </flow>
</mule>
